@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,regular,500,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,700);

body {
    font-family: "Roboto Condensed";
    color: #fff;
}

#wrapper {
    overflow: hidden;
}

.__container {

    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.header {
    position: relative;
    width: 100%;
    height: 100vh; 
    background-image: url("../img/background-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0,0,0, .5);
    background-blend-mode: multiply;
}

.header-fixed {
    background-color: #fff;
    color: #777777;
}

.header__top {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 106px;   
    z-index: 999;
    transition: all .3s;
}

.header__top::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 1px solid #878787;
    z-index: 1;
}

.header__container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__inner {
    
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list {
    display: flex;
    align-items: center;
}

.list__item + .list__item{
    margin-left: 50px
}

.item__link {
    text-transform: uppercase;
    color: inherit;
    line-height: 117%;
    letter-spacing: 0.15em;
}

.number {
    display: flex;
    align-items: center;
}

.number-text {
    margin-left: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: calc(21 / 18 * 100%);
    letter-spacing: 0.05em; 
}

.header__bottom {
    padding-top: 106px;
    height: 100%;
}

.header__inner-bottom {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header__title {
    text-transform: uppercase;
    font-size: 140px;
    font-weight: 300;
    line-height: 117%;
    letter-spacing: 0.08em;
    margin-bottom: 10px;
}

.header__subtitle {
    max-width: 632px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 20px;
    line-height: calc(27 / 20 * 100%);
    text-align: center;
    letter-spacing: 0.12em;
}

main {
}

.descr__company {
    margin-top: 150px;
    color: #777777;
    margin-bottom: 109px;
}

.company__title {
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 300;
    line-height: calc(46.88 / 40 * 100%);
    letter-spacing: 0.08em;
}

.company__column {
    display: flex;
    justify-content: space-between;
}

.company__subtitle {
    margin-bottom: 50px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 18px;
    line-height: calc(27 / 18 * 100%);
}

.company__column-left {
    max-width: 514px;
}

.company__list {
    position: relative;
}

.company__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #777777;
}

.button__arrow {
    background-color: #fff;
    padding: 0;
    
}

.button__arrow::before {
    content: url('../img/company__descr/icon_arrow.svg');
}


.button__arrow-rotate {
    transform: rotate(270deg);
    transition: all .1s;
}

.company__item:last-child {
    border-bottom: 1px solid #777777;
}

.company__content {
    padding: 27px 0;
}

.company__item-descr {
    font-family: 'Roboto';
    margin-top: 12px;
    font-weight: 300;
    font-size: 16px;
    line-height: calc(24 / 16 * 100%);
    color: #777777;
}

.descr-none {
    display: none;
}

.company__item-descr--visit {
    display: block;
    transition: all .3s;
}

.company__item-name {
    font-weight: 300;
    font-size: 20px;
    line-height: calc(27 / 20 * 100%);
    letter-spacing: 0.12em;
}

.portfolio{
    
}

.portfolio__container {

}

.portfolio__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
}

.portfolio__title {
    margin-bottom: 50px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: calc(47 / 40 * 100%);
    text-transform: uppercase;
    letter-spacing: 0.08em;
}

.portfolio__menu {
    width: 40%;
    margin-bottom: 40px; 
}

.portfolio__list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #D5D5D5;
}

.portfolio__item {
    position: relative;
}

.portfolio__btn {
    background-color: #fff;
}

.portfolio__btn:active {
    padding-bottom: 10px;
    border-bottom: 1px solid #000;

}